.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
nav {
  text-align: center;
  background-color: rgb(120, 127, 233);
}
nav > ul {
  display: flex;
  align-items: center;
  text-align: center;
}
nav > ul > li {
  list-style: none;
  margin: 0 10px;
  padding: 10px 0px;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: aliceblue !important;
}
.nav-list > a {
  text-decoration: none !important;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.slick-arrow {
  background-color: black !important;
  color: white !important;
}
.product-des {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  background: #fff;
  min-height: 80px;
}
.css-h93ljk-MuiTypography-root {
  min-height: 64px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  background: #fff;
}
css-r40f8v-MuiTypography-root {
  min-height: 84px;
}
.date-time-picker-wrap {
  max-width: 30%;
  overflow: hidden;
  margin: 0 auto;
}
.header-wrap {
  text-align: center;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  max-height: 50px;
  text-justify: auto;
  overflow: hidden;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  padding: 5px;
  margin: 25px 0;
}
.native-date {
  padding: 20px 0;
}
.age-calc {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.checkbox-label {
  display: block;
}
.checkbox-wrap {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.radio-wrap {
  display: flex;
}
.email-ph-wrap {
  display: grid;
  grid-template-columns: auto auto;
}
.userinfo-input {
  width: 50%;
}
.btn {
  margin: 20px 0;
}
.btn-wrap {
  justify-content: space-between;
}
.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.quiz-btn {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}
.quiz-score {
  text-align: center;
  padding-bottom: 30px;
}
.try-again-btn {
  text-align: -webkit-center;
}
.quiz-score-btn {
  justify-content: center;
  width: 30%;
}
.quiz-wrap {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.dropzone:focus {
  border-color: #2196f3;
}
.menu-select-option {
  text-decoration: none;
}
.form-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-fluid {
  height: 80vh;
}
.form-input {
  padding: 10px;
}
.form-label {
  display: block;
  font-size: 1rem;
}
.form-btn {
  border: 2px solid white;
  color: white;
  background-color: rgb(120, 127, 233);
  border-radius: 8px;
  padding: 5px 10px;
  margin-top: 30px;
}
.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
}
.form-control {
  padding: 12px 20px;
  font-size: 1rem;
  border-width: calc(5 * 1px);
  border-style: solid;
  border-color: rgb(207 221 235 / 49%);
  border-radius: calc(6 * 1px);
  outline: transparent;
  width: 100%;
  box-shadow: 0.5rem 0.5rem 0 rgb(207 221 235 / 49%);
}
.sort-box {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.table-heading {
  background-color: #234668;
  color: #fafafa !important;
}
